{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Home Page</h1>
            <nav>
                <ul>
                  <li><a href="{% url 'author-list' %}">Authors</a></li>
                  <li><a href="{% url 'book-list' %}">Books</a></li>
                  <li><a href="{% url 'user-list' %}">Users</a></li>
                  <li><a href="{% url 'borrowreturn-list' %}">Borrow/Return</a></li>
                </ul>
              </nav>
        </div>
    </div>
</div>

{% endblock %}
