{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Home Page</h1>
            <nav>
                <ul>
                  <li><a href="{% url 'author_list' %}">Authors</a></li>
                  <li><a href="{% url 'book_list' %}">Books</a></li>
                  <li><a href="{% url 'user_list' %}">Users</a></li>
                  <li><a href="{% url 'borrowreturn_list' %}">Borrow/Return</a></li>
                </ul>
              </nav>
        </div>
    </div>
</div>

{% endblock %}
