<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc %}" class="dropdown-item">By Price</a> 
                <a href="{% url 'products' %}?sort=rating&direction=desc %}" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc %}" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">By Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Events
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
            <a href="{% url 'products' %}?category=Weddings" class="dropdown-item">Weddings</a>
            <a href="{% url 'products' %}?category=Birthdays" class="dropdown-item">Birthdays</a>
            <a href="{% url 'products' %}?category=Parties" class="dropdown-item">Parties</a>
            <a href="{% url 'products' %}?category=Baby Shower" class="dropdown-item">BabyShower</a>
            <a href="{% url 'products' %}?category=Corporate Events" class="dropdown-item">Corporate & Events</a>
            <a href="{% url 'products' %}?category=Christmas" class="dropdown-item">Christmas</a>
            <a href="{% url 'products' %}?category=Lifestyle Photoshoot" class="dropdown-item">Lifestyleshoot & Photoshoot</a>
            <a href="{% url 'products' %}?category=Weddings,Birthdays,Parties,Baby Shower,Corporate Events,Christmas,Lifestyleshoot" class="dropdown-item">All Events</a>
        </div>
        
        </li>
    <li class="nav-item dropdown">
    <a class="logo-font font-weight-bold nav-link text-black mr5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Features
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
        
        <a href="{% url 'products' %}?category=Outdoor space" class="dropdown-item">Outdoor Space</a> 
        <a href="{% url 'products' %}?category=Music" class="dropdown-item">Pa for music</a>
        <a  href="{% url 'products' %}?category=City" class="dropdown-item">City</a>    
        <a href="{% url 'products' %}?category=Big screen" class="dropdown-item">Big screen</a>
        <a href="{% url 'products' %}?category=Exclusive hire" class="dropdown-item">Exclusive hire</a>
        <a href="{% url 'products' %}?category=Disabled access" class="dropdown-item">Disabled access</a>
        <a href="{% url 'products' %}?category=Air conditioning" class="dropdown-item">Air conditioning</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black mr5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Special Offer
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
            <a href="{% url 'products' %}?category=Family" class="dropdown-item">Family Packages</a> 
            <a href="{% url 'products' %}?category=Summer Party" class="dropdown-item">Summer party</a>
            <a href="{% url 'products' %}?category=Club" class="dropdown-item">Club</a>
            <a href="{% url 'products' %}?category=Family,Summer Party,Club" class="dropdown-item">All Special Offer</a>
    
        </div>
    </li>
    </ul>
</div>